
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

  :root {
	--font-roboto: "Roboto Slab", serif;
	--font-raleway: "Raleway", sans-serif;
  }

body {
	font-family: var(--font-roboto);
	background-color: #212426;
	color: #ffffff;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

.addfav{
	width: 15rem;
}

.bi{
	text-align: center;
}


dt{
  margin-bottom: 20px;
  margin-top: 20px;
}

input{
	margin-bottom: 10px;
	margin-right: 10px;
	height:2rem;
	width: 15rem;
}

label {
	margin-right: 10px;
}

.selectGenre{
	width: 15rem;
	height: 2rem;
}

nav {
	height: 5rem;
	font-size: 1.2rem;
}

nav:link {
	text-decoration: none;
}

.heart {
	display: flex;
	justify-content: center;
	width: 22.5rem;
	background-color: #191a1b;
}

.moviename{
	display: flex;
	justify-content: center;
	width: 22.5rem;
	margin-bottom: 10%;
}

.btn-dark{
	width:22.5rem;
}

.btn-secondary{
	margin-top: 10px;
	width: 15rem;
	margin-left: 5rem;
}
.btn-light{
	width: 30.5rem;
	margin-top: 10px;
}

.btn-success{
	width: 30.5rem;
	margin-top: 10px;
}

.btn-danger{
	width: 30.5rem;
	margin-top: 10px;
}

.searchbar{
	height: 3.5rem;
}
.loadMovies{
	margin-top: 2rem;
}

.loginPage{
	margin-top: 10rem;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
}

@media screen and (max-width: 600px) {
	.app {
	  padding: 4rem 2rem;
	}
  
	.search {
	  padding: 1rem 1.75rem;
	  width: 100%;
	}
  
	.search input {
	  font-size: 1rem;
	}
  
	.search img {
	  width: 20px;
	  height: 20px;
	}
  }
  
  @media screen and (max-width: 414px) {
	.app {
	  padding: 4rem 1rem;
	}
  
	h1 {
	  font-size: 2.5rem;
	  margin-bottom: 5%;
	}
  
	.container {
	  margin-top: 2rem;
	}
  
	.movie {
	  width: "100%";
	  margin: 1rem;
	}
	.btn-success{
		width: 15rem;
		margin-top: 10px;
	}

	.btn-light{
		width: 15rem;
	}
	
	.btn-danger{
		width: 15rem;
	}
	.searchbar{
		margin-top: 0.5rem;
		height: 2rem;
	}
	
  }